<h1 class="h1">Dodajte let:</h1>
<div class="card">
    <form [formGroup]= "userForm" >
        <div class="mt-5 box">
            <div class="form-row">
                <div class="col-md-12">
                    <div class="form-group mt-4">
                        <label>Broj leta: </label>
                    </div>
                    <div class="form-row" style="margin-top: -10px;">
                        <div class="col">
                            <input type="text" formControlName="name" class="form-control" placeholder="Broj leta">
                            <div *ngIf="userForm.controls['name'].invalid &&
                            (userForm.controls['name'].dirty || userForm.controls['name'].touched)"
                            class="alert alert-danger">
                                Uneta vrednost mora imati najmanje 6 karaktera!!!
                            <div *ngIf="$any(userForm.controls['name']).errors.required">
                                Polazak je obavezan!!!
                            </div>
                        </div>    
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group mt-4">
                        <label>Avion: </label>
                    </div>
                    <div class="form-row"style="margin-top: -10px;">
                        <div class="col">
                            <input type="text" formControlName="address" class="form-control" placeholder="Avion">
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group mt-4">
                        <label>Cena: </label>
                    </div>
                    <div class="form-row" style="margin-top: -10px;">
                        <div class="col">
                            <input type="text" formControlName="contactNo" class="form-control" placeholder="Cena">
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group mt-4">
                        <label>Polazak: </label>
                    </div>
                    <div class="form-row" style="margin-top: -10px;">
                        <div class="col">
                            <input type="text" formControlName="gender" class="form-control" placeholder="Polazak">
                        </div>
                    </div>
                </div>

                <div class="form-row mt-4">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-primary" (click)="addItem()">Add</button>&nbsp;
                       </div>
                        <div class="col-md-6">
                        <button type="button" class="btn btn-primary" (click)="reset()">Reset</button>
                    
                    </div>

                </div>
            </div>
        </div>
    </form>
    <div class="form-check">
        <input class="form-check-input" (click)="uvecajCenu()" type="checkbox" value="" id="ch1">
        <label class="form-check-label" for="flexCheckDefault">
          Direktan let
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" (click)="uvecajCenu()" type="checkbox" value="" id="ch2" >
        <label class="form-check-label" for="flexCheckChecked">
          Biznis klasa
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" (click)="uvecajCenu()" type="checkbox" value="" id="ch3" >
        <label class="form-check-label" for="flexCheckChecked">
          Gratis hrana
        </label>
      </div>

      <p><b>Cena dodatnih usluga je: {{cena}}</b></p>

    <div class="col-md-8 mt-4 mb-4">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Broj leta</th>
                    <th>Avion</th>
                    <th>Cena</th>
                    <th>Polazak</th>
                    <th>Broj karata</th>
                    <th>Kupi</th>
                </tr>
            </thead>
            <tbody>
            


                <tr *ngFor="let item of listData">
                    <td><span>{{item.brLeta}}</span></td>
                    <td><span>{{item.avion}}</span></td>
                    <td><span>{{item.cena}}</span></td>
                    <td><span>{{item.polazak}}</span></td>
                    <td><input id="kolicina{{item.brLeta}}"type="text"></td>
                    <td><button (click) = "getPrice(item.brLeta)" type="button" class="btn btn-primary">Kupi</button></td>
                </tr> 

            </tbody>
        </table>
      
    </div>

</div>
