<div class="card-group">
    <div class="card" style="background: beige;">
      <div class="card-body">
        <h5 class="card-title"><b>Obrok</b></h5>
        <p class="card-text">Nakon poletanja, putnici  u avionu mogu kupiti grickalice, hladna i topla pića, koristeći uslugu Wizz Cafe-a.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card"style="background: beige;" >
      <div class="card-body">
        <h5 class="card-title"><b>Prijava na let putem interneta</b></h5>
        <p class="card-text">Nakon što rezervišete avionsku kartu preko Wizz Air-a, klijentima eSKY.pl će biti prosleđen e-mail sa linkom, preko koga se na let mogu prijaviti putem interneta.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card" style="background: beige;">
      <div class="card-body">
        <h5 class="card-title"><b>Direktan let</b></h5>
        <p class="card-text">Putujte bez presedanja i izbegnite velike aerodromske guzve.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
