<div class="card border-success mb-3" style="max-width: 18rem; margin-left: 100px; background: beige;">
    <div class="card-header">O nama</div>
    <div class="card-body text-success">
      <h5 class="card-title">Nasi uspesi</h5>
      <p class="card-text">Kao i većina niskotarifnih avio-kompanija, Wizz Air koristi manje aerodrome kako bi omogućili lakše rukovođenje putnicima i jeftinije cene. U avionu postoji jedna kabina iste klase, sa kožnim sedištima, bez podele po klasama. Na zahtev, putnici mogu dobiti ponudu osvežavajućih pića uz doplatu.</p>
    </div>
</div>
